<h1>Blogs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.body %></td>
      <td><%= link_to "View", blog_path(blog) %></td>
      <td><%= link_to "Edit", edit_blog_path(blog) %></td>
    </tr>
  <% end%>
</table>

<%= link_to "New Blog", new_blog_path %>